@font-face {
    font-family: HelveticaNeueCyr-Bold;
    src: url(../../fonts/HelveticaNeueCyr-Bold.otf);
}
@font-face {
    font-family: HelveticaNeueCyr-Italic;
    src: url(../../fonts/HelveticaNeueCyr-Italic.otf);
}
@font-face {
    font-family: HelveticaNeueCyr-Medium;
    src: url(../../fonts/HelveticaNeueCyr-Medium.otf);
}
@font-face {
    font-family: HelveticaNeueCyr-Roman;
    src: url(../../fonts/HelveticaNeueCyr-Roman.otf);
}